{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block style %}
h1 {
    border-bottom: none !important;
}
.form-control {
	width: 86%;
}
.reset-cont p{
padding-left:0px;
}
{% endblock %}


{% block content %}
  <!-- data start -->
    <div class="container reset-cont">
    <div class="row ">
	  {% block leftsec %}
      <!-- left sec start -->
      <div class="col-md-6 col-sm-8" style="padding-right:10px;">
        <div class="row">
			{% block articles%}

				<h1>{% trans "Password Reset" %}</h1>
				{% if user.is_authenticated %}
				{% include "account/snippets/already_logged_in.html" %}
				{% endif %}

				<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

				<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
					{% csrf_token %}
					{{ form|crispy }}
					<input type="submit" value="{% trans 'Reset My Password' %}" />
				</form>

				<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
			{% endblock %}
</div>
      </div>
      <!-- left sec end --> 
	  {% endblock %}
	  <!-- right sec start -->
	  	{% block sideBlock %}
			  <div class="col-sm-4 hidden-xs right-sec">
				  {% block right_sec %}
				  {% include "home_right_sec.html" %}
				  {% endblock %}
			  </div>
		{% endblock %}
	  <!-- right sec end --> 

    </div>
  </div>

{% endblock %}