{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="srini">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
 
  <title>{% block head_title %}Stars and People Magazine{% endblock %}</title>

  {% include 'head_css.html' %}
  {% block head_js %}
  {% endblock %}
  <style>
    {% block style %}
    {% endblock %}

  </style>

</head>

<body>
<!-- wrapper start --> 
<div class="wrapper">
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
<div class="container">
	{% block floatingform %}
		{% include 'floating_form.html' %}
	{% endblock %}
</div>	
<div class="container">	
	{% block topsec %}
		{% include 'topsec.html' %}
	{% endblock %}
</div>	
<div class="container">
  {% block content %}
  
  {% endblock %}
</div>
{% block login %}

	{% include 'home_login.html' %}
	
{% endblock %}
{% include 'footer.html' %}
</div>
<!-- wrapper end --> 
{% include "javascript.html" %}
{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function () {

		$('#btnRegiser').click(function () {
			$('#login-modal').modal('hide');
			$('#register-modal').modal('show');
		});

		$('#btnReset').click(function () {
			$('.resetpassword').slideToggle();
		});		
		
				var _scroll = true, _timer = false, _floatbox = $("#contact_form"), _floatbox_opener = $(".contact-opener") ;
		//initial contact form position
		_floatbox.show();
		_floatbox_body = $("#floating-body");
		

		

	});
	
	</script>

{% endblock %}

</body>
</html>
