{% load staticfiles i18n %}
<div class="bordered top-margin">
  <div class="row ">
	<div class="col-sm-12 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50"> 
	{% block advertisment3 %}
	<img class="img-responsive" src="{% static 'images/ads/336-280-ad1.jpg' %}" width="336" height="280" alt=""/> <a href="#" class="sponsored">sponsored advert</a> </div>
	{% endblock %}
	<div class="col-sm-12 bt-spac wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="150">
		{% block advertisment4 %}
		{% include "sponsored_advert.html" %}
		{% endblock %}	
	</div>
	{% block activities %}
	{% include "activities.html" %}
	{% endblock %}

  </div>
</div>
