{% load staticfiles %}
{% load socialaccount %}
{% load thumbnail %}
  <!-- header toolbar start -->
  <div class="header-toolbar">
    <div class="container">
      <div class="row">
        <div class="col-md-16 text-uppercase">
          <div class="row">
            <div class="col-sm-16 col-xs-16">
        <form method="GET" action="{% url 'search' %}">
          <ul id="inline-popups" class="list-inline">
          <li class="hidden-xs">Rechercher dans Stars &amp; People</li>
          <li>
            <input type="text" placeholder="Rechercher*" id="searchInput" name="q" required="" class="form-control" value='{{requste.GET.q}}'/>
          </li>
          
          <li><button class="btn btn-danger" id="navbarButton" type="submit" style="background: #ffec00 !important;color:#000;">Ok</button></li>
          
          {% if request.user.is_authenticated %}
          <li class="userstatus" style="float:right;padding-top:5px;">
          <a href="#"><b>Bonjour </b>{{ request.user}}</a><br/>
          <a href="{% url 'account_logout' %}">Se déconnecter</a>
          </li>
          {% else %}     
          <li style="float:right;">
            <a href="{% url 'account_login' %}" class="btn btn-danger" style="background: #ffec00 !important;color:#000; border: 1px solid #e5007e; margin-right: 5em;margin-left: -13em;">Connexion</a></li>
          {% endif %}
          
          </ul>
			</form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header toolbar end --> 
   <!-- sticky header start -->
  <div class="sticky-header"> 
    <!-- header start -->
    <div class="container header">
      <div class="row">
        <div class="col-sm-3 col-md-3 wow fadeInUpLeft animated"><a class="navbar-brand" href="\">Stars People</a></div>
        <div class="col-sm-13 col-md-13 text-right">
       <div class="col-sm-5 f-social hidden-xs " style="text-align: left;padding-top:45px;margin-left: -3em;">
            <ul class="list-inline">
              <li> <a href="#"><span class="ion-social-twitter"></span></a> </li>
              <li> <a href="#"><span class="ion-social-facebook"></span></a> </li>
              <li> <a href="#"><span class="ion-social-instagram"></span></a> </li>
              <li> <a href="#"><span class="ion-social-google"></span></a> </li>
              <li> <a href="#"><span class="ion-social-linkedin"></span></a> </li>
            </ul>
          </div>
      <div class="col-sm-11" style="padding-top: 45px; margin-left: -2em;">
        <div class="col-sm-11 hidden-xs " >                
                <form class="form-inline" action="" method="post">
                   {% csrf_token %}
                    {{ formNews }}
                  <button type="submit" class="btn"> <span class="ion-paper-airplane text-danger"></span> </button>
                  <span>{{message}}</span>
                </form>
              </div>
        <div class="col-sm-4">
		  <div class="hidden-xs">
          <a  href="{% if request.user.is_authenticated %}
                         /media/{{fileName.2.fileMagazine}}
                  {% else %}
                        {% url 'account_login' %}?next={{request.path}}
                  {% endif %}" 
                  style="margin-right: 1em;color:#e5007e;"><span class="blink-me">Telecharger magazine</span></a>

		  </div>
		  <div>
		  </div>
        </div> 
       </div>
      
    </div>

	  </div>
	  <div class="" style="float:right;width:200px;">
		 
		</div>
    </div>
	        
    <!-- header end --> 
	<!-- magazine start-->
	<div class="magazinetop">
	  {% for f in fileName %} 
	  <div class="top-right-box">
	  <img class="{% cycle 'magazineimg1' 'magazineimg2' 'magazineimg3' %} img-responsive " src="{% thumbnail f.image 85x111 %}" alt="image doesn't avilable"/>
	  </div>
	  {% endfor %}
	</div>
	<!-- magazine end-->	  
    <!-- nav and search start -->
    <div class="nav-search-outer">
                <!-- nav start -->
                <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-sm-16"> 
			<a href="javascript:;" class="toggle-search pull-right"><span class="ion-ios7-search"></span></a>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>
			  <div><a class="navbar-brand" href="index-2.html">Stars People</a></div>
			  <div><img class="img-thumbnail navbar-logo" src="{% static 'images/logo.png'  %}"></div>
              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav text-uppercase main-nav ">
                  <li class="active"><a href="/">home</a></li>
                  {% for sectionArticle in sectionArticles %}
              <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{sectionArticle.section_name}}<span class="ion-ios7-arrow-down nav-icn"></span></a>    
                  <ul class="dropdown-menu text-capitalize" role="menu">
                    {% for categorieArticle in categorieArticles %}
                     {% if categorieArticle.section.section_name == sectionArticle.section_name %}
                    <li><a href="{% url 'categories' categorieArticle.id %}"><span class="ion-ios7-arrow-right nav-sub-icn"></span>{{categorieArticle.categorie_nom}}</a></li>                  
                   {% endif %}
                   {% endfor %}
                   </ul>
              </li> 
              {% endfor %} 
              
                                                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- nav end -->
        <!-- search start -->
        
        <div class="search-container ">
          <div class="container">
            <form method="GET" action="{% url 'search' %}" role="search">
              <input type="text" id="search-bar" placeholder="Taper et appuyer sur Entrée..." autocomplete="off" name="q" value='{{requste.GET.q}}'/>
            </form>
          </div>
        </div>
        <!-- search end --> 
      </nav>
      <!--nav end--> 
    </div>
    <!-- nav and search end--> 
  </div>
  <!-- sticky header end --> 
